<%- include('partials/navbar') %>
<%- include('partials/header') %>
    <h1>This is an EJS File.</h1>
    <h2>Random Number: <%= 1+2+3 %> </h2>
    <!-- <h2>Random Number: <%= randomNumber=Math.floor(Math.random()*10); %> </h2>   -->
     <!-- generate a random number -->

    <h2> Random Number: <%= randomNumber %> </h2>
    <br><br>
    <%- include('partials/card') %>
    <br>
    <%- include('partials/listgroup') %>

    <% if(randomNumber%2 === 0) { %>
        <br>
        <h2>This is an Even Number</h2>
    <% } else { %>
        <br>
        <h2>This is an Odd Number</h2>
    <% } %>

    <br>
    <%- include('partials/footer') %>
